<template>
    <div class="row align-items-center justify-content-md-center login text-left">
        <div class="col-md-7 col-lg-6">
            <div class="brew-welcome">
                <div>
                    <h1>This is Brew Hub</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="brew-login">
                <h3>Sign In</h3>
                <b-form @submit.prevent="signIn">
                    <b-form-group id="loginInputGroup1"
                                  label="Email:"
                                  label-for="loginEmail"
                                  description="We'll never share your email with anyone else.">
                        <b-form-input id="loginEmail"
                                      type="email"
                                      autocomplete="off"
                                      v-model.trim="email"
                                      required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="loginInputGroup2"
                                  label="Password:"
                                  label-for="loginPword">
                        <b-form-input id="loginPword"
                                      type="password"
                                      autocomplete="off"
                                      v-model="password"
                                      required>
                        </b-form-input>
                    </b-form-group>
                    <button class="btn btn-light" type="submit">Login</button>
                </b-form>
                <p>New to Brew Hub?&nbsp;<router-link to="/sign-up">Create an account.</router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
  import bForm from 'bootstrap-vue/es/components/form/form';
  import bFormGroup from 'bootstrap-vue/es/components/form-group/form-group';
  import bFormInput from 'bootstrap-vue/es/components/form-input/form-input';

  export default {
    name: 'login',
    components: {bForm, bFormGroup, bFormInput},
    data () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      signIn () {
        this.$store.dispatch('userSignIn', { email: this.email, password: this.password });
      }
    }
  }
</script>

<style>

    .login {
        color: white;
        //padding-top: 30px;
        min-height: calc(100vh - 59px);
    }

    .login p {
        margin-top: 40px;
        font-size: 15px;
    }

    .login p a {
        text-decoration: underline;
        cursor: pointer;
        color: rgb(230, 230, 103);
    }

    .login {
        background-image: linear-gradient(180deg, #0c5176, transparent),
        linear-gradient(45deg, rgba(220, 220, 220, .08) 40%, transparent 0),
        linear-gradient(45deg, rgba(220, 220, 220, .07) 40%, transparent 0),
        linear-gradient(45deg, transparent 50%, rgba(220, 220, 220, .08) 0),
        linear-gradient(45deg, transparent 50%, rgba(220, 220, 220, .09) 0),
        linear-gradient(0deg, #094667, #254356);
        background-size: 25%, 45%, 80%, 100%;
    }

    .login li {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 40px;
        float: left;
        list-style: none;
        border-radius: 150px;
    }

    #loginPword,
    #loginEmail {
        background: none;
        color: #ddd;
    }

</style>