<template>
    <keep-alive>
        <main class="brew-page">
            <div class="row">
                <div class="col">
                    <h3 class="text-left">My Recipes</h3>
                    <section v-if="!recipesLoaded">
                        <div class="text-center">
                            <b-spinner
                                    variant="secondary"
                                    style="width:4rem; height:4rem;"
                                    type="grow"
                                    label="Spinning"
                            >
                            </b-spinner>
                        </div>
                    </section>
                    <transition name="fade">
                        <section v-if="recipesLoaded && recipes.length === 0">
                            <h3 class="heading">You have no recipes saved.</h3>
                        </section>
                        <section v-else class="brew-page-content">
                            <div class="brew-page-content-recipe-list">
                                <div class="card-deck">
                                    <div class="card mb-4" v-for="recipe in recipes" v-bind:key="recipe.id">
                                        <recipe-item
                                                to="Recipe"
                                                :name="recipe.name"
                                                :docId="recipe.docId"
                                        >
                                        </recipe-item>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </transition>
                </div>
            </div>
        </main>
    </keep-alive>
</template>

<script>
  import RecipeItem from '../components/RecipeItem';
  import bSpinner from 'bootstrap-vue/es/components/spinner/spinner';

  export default {
    name: "MyRecipes",
    components: {RecipeItem, bSpinner},
    data() {
      return {}
    },
    created() {
      this.$store.dispatch('loadRecipes');
    },
    computed: {
      recipesLoaded() {
        return this.$store.getters.recipesLoaded;
      },
      recipes() {
        return this.$store.getters.recipes;
      }
    }
  }
</script>

<style>
    .brew-page {
        margin-top: 40px;
    }

    .brew-page-content h3.heading {
        margin: 0 0 20px 0;
        border-bottom: 1px solid #e0e0e0;
        text-transform: uppercase;
        text-align: start;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
</style>