<template>
    <div class="row align-items-center justify-content-md-center">
        <div class="col-xs-12">
            <h1>Error - page not found</h1>
        </div>
    </div>
</template>

<script>
  export default {
    name: "NotFound"
  }
</script>

<style>

</style>
