<template>
    <transition name="fade">
    <div v-if="Object.keys(recipe).length !== 0" class="brew pt-4 bg-light">
            <div class="row">
                <main role="main" class="col-md-8 col-lg-9">
                    <div class="card mb-4 recipe-section">
                        <div class="card-body">
                            <h3 class="heading">Information</h3>
                            <div class="flexy-row">
                                <div class="flexy-column">
                                    <div class="brew-item">
                                        <label for="name">Name:</label>
                                        <div id="name" class="field-value">{{recipe.name}}</div>
                                    </div>
                                    <div class="brew-item"><label
                                            for="description">Description:</label><br>
                                        <div id="description" class="field-value">{{recipe.description}}</div>
                                    </div>
                                    <div class="brew-item">
                                        <label for="boilSize">Losses:</label>
                                        <div id="boilSize" class="field-value">{{recipe.losses}} {{unitsVol}}</div>
                                    </div>
                                </div>
                                <div class="flexy-column">
                                    <div class="brew-item">
                                        <label for="type">Type:</label>
                                        <div id="type" class="field-value">{{recipe.type.name}}</div>
                                    </div>
                                    <div class="brew-item">
                                        <label for="measurement">Measurement:</label>
                                        <div id="measurement" class="field-value">{{recipe.unit_type.name}}</div>
                                    </div>
                                    <div class="brew-item">
                                        <label for="boilTime">Boil Time:</label>
                                        <div id="boilTime" class="field-value">{{recipe.boil_time}}min</div>
                                    </div>
                                </div>
                                <div class="flexy-column">
                                    <div class="brew-item">
                                        <label for="style">Style:</label>
                                        <div id="style" class="field-value">
                                            {{recipe.bjcp_style.sub_category_name}}
                                        </div>
                                    </div>
                                    <div class="brew-item">
                                        <label for="batchSize">Batch Size:</label>
                                        <div id="batchSize" class="field-value">{{recipe.batch_size}} {{unitsVol}}</div>
                                    </div>
                                    <div class="brew-item">
                                        <label for="efficiency">Efficiency:</label>
                                        <div id="efficiency" class="field-value">{{efficiency}}%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 recipe-section">
                        <div class="card-body">
                            <h3 class="heading">Fermentables</h3>
                            <table class="full-width-table table table-striped table-responsive-sm table-borderless text-left">
                                <thead>
                                <tr>
                                    <th>%</th>
                                    <th>{{unitsMass}}</th>
                                    <th>Fermentable</th>
                                    <th>PPG</th>
                                    <th>EBC</th>
                                    <th>Usage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="fermentable in recipe.fermentables">
                                    <td style="width: 40px;">{{percentageOfTotal(fermentable.amount, grainBill)}}</td>
                                    <td style="width: 100px;">{{fermentable.amount}}</td>
                                    <td>{{fermentable.name}}</td>
                                    <td style="width: 100px;">{{fermentable.ppg}}</td>
                                    <td style="width: 100px;">{{lovibondToEbc(fermentable.lovibond)}}</td>
                                    <td style="width: 130px;">{{fermentable.usage_type.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mb-4 recipe-section">
                        <div class="card-body">
                            <h3 class="heading">Hops</h3>
                            <table class="full-width-table table table-striped table-responsive-sm table-borderless text-left">
                                <thead>
                                <tr>
                                    <th>{{unitsHops}}</th>
                                    <th>Variety</th>
                                    <th>Type</th>
                                    <th>Usage</th>
                                    <th>Time</th>
                                    <th>AA</th>
                                    <th>IBU</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="hop in recipe.hops">
                                    <td style="width: 100px;">{{hop.amount}}</td>
                                    <td>{{hop.name}}</td>
                                    <td style="width: 130px;">{{hop.type.name}}</td>
                                    <td style="width: 130px;">{{hop.usage_type.name}}</td>
                                    <td style="width: 130px;">{{hop.time}}</td>
                                    <td style="width: 100px;">{{hop.aa.toFixed(1)}}</td>
                                    <td style="width: 100px;">{{hop.ibu.toFixed(1)}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mb-4 recipe-section">
                        <div class="card-body">
                            <h3 class="heading">Yeast</h3>
                            <table class="full-width-table table table-striped table-responsive-sm table-borderless text-left">
                                <thead>
                                <tr>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
                <aside class="col-md-4 col-lg-3">
                    <div class="card mb-4 recipe-section text-white">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-9 text-left">
                                    <div class="rim-page-panel-information-title">RECIPE INFORMATION</div>
                                    <div class="rim-page-panel-information-name">Zombie D</div>
                                    <div class="rim-page-panel-information-style">American Pale Ale</div>
                                    <div class="rim-page-panel-information-author">Brewer: Andrew Henry</div>
                                </div>
                                <div class="col-md-3">
                                    <div style="width: 64px; height: 64px; background-color: rgb(248, 166, 0);"
                                         class="rim-page-panel-srm"></div>
                                </div>
                            </div>
                            <!--<div class="rim-page-panel-nav-information">
                                <div class="rim-page-panel-information-title">RECIPE INFORMATION</div>
                                <div class="rim-page-panel-information-name">Zombie D</div>
                                <div class="rim-page-panel-information-style">American Pale Ale</div>
                                <div class="rim-page-panel-information-author">Brewer: Andrew Henry</div>-->


                            <!--<div class="rim-page-panel-divider"></div>
                            <ul style="list-style: outside none none; padding: 0px;">
                                <li><strong class="rim-page-panel-key">OG</strong>1.061</li>
                                <li><strong class="rim-page-panel-key">FG</strong>1.017</li>
                                <li class="rim-page-panel-divider-bottom"><strong
                                        class="rim-page-panel-key">Color</strong>
                                    12.2 EBC
                                </li>
                                <li><strong class="rim-page-panel-key">Bitterness</strong>
                                    65 IBU
                                </li>
                                <li class="rim-page-panel-divider-bottom"><strong
                                        class="rim-page-panel-key">BU:GU</strong>
                                    1.06
                                </li>
                                <li><strong class="rim-page-panel-key">Alcohol</strong>
                                    5.8% ABV
                                </li>
                                <li><strong class="rim-page-panel-key">Calories</strong>
                                    58.3 per 100ml
                                </li>-->
                            <!--</ul>-->
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="card mb-4 recipe-section text-white bg-info">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </aside>
            </div>
    </div>
    </transition>
</template>

<script>
  import {firebase} from '../firebase';
  import {colourMath} from '../assets/colour-math';

  export default {
    mixins: [colourMath],
    data() {
      return {
        recipe: {}
      }
    },
    methods: {
      percentageOfTotal(mass, total) {
        return Math.round(mass / total * 100);
      },
      lovibondToEbc(lovibond) {
        return (this.srmToEbc(this.lovibondToSrm(lovibond))).toFixed(1);
      }
    },
    beforeCreate() {
      var database = firebase.firestore();
      let docId = this.$route.params.docId;
      database.collection('/recipes').doc(`/${docId}`)
          .get()
          .then(doc => {
            this.recipe = doc.data();
            /*data.forEach((doc) => {
              this.recipe = doc.data();
            });*/
          })
    },
    computed: {
      unitsVol() {
        return this.recipe && this.recipe.unit_type.name === 'Metric' ? 'L' : 'gal';
      },
      unitsMass() {
        return this.recipe && this.recipe.unit_type.name === 'Metric' ? 'kg' : 'lb';
      },
      unitsHops() {
        return this.recipe.unit_type.name === 'Metric' ? 'g' : 'oz';
      },
      efficiency() {
        return this.recipe.efficiency * 100;
      },
      grainBill() {
        return this.recipe.fermentables.reduce((accumulator, currentValue) => {
          return accumulator + currentValue.amount;
        }, 0);
      },
    }
  }
</script>

<style>

    .brew .recipe-section {
        background-color: #fff;
        margin-top: 0px;
        border-width: 1px;
        box-shadow: 0 0 4px 0 #e0e0e0;
    }

    footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    footer p {
        margin-bottom: .25rem;
    }

    .recipe-section h3.heading {
        margin: 0 0 20px 0;
        border-bottom: 1px solid #e0e0e0;
        text-transform: uppercase;
        text-align: start;
    }

    .brew-item {
        margin-bottom: 0.5rem;
        text-align: left;
        width: 100%;
    }

    .brew-item label {
        margin-bottom: 0.2rem;
        font-weight: 600;
    }

    .full-width-table {
        table-layout: auto;
        width: 100%;
    }

    .flexy-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create three equal columns that sit next to each other */
    .flexy-column {
        flex: 33.333%;
        max-width: 33.333%;
        padding: 0 4px;
    }

    .flexy-column .brew-item {
        margin-top: 8px;
        vertical-align: middle;
    }

    .brew aside .recipe-section {
        background-color: #0c5176 !important;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media (max-width: 992px) {
        .flexy-column {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media (max-width: 576px) {
        .flexy-column {
            flex: 100%;
            max-width: 100%;
        }
    }


</style>
