<template>
    <div class="row align-items-center justify-content-md-center sign-up text-left">
        <div class="col-md-4 col-xl-3">
            <div class="">
                <h3>Let's create a new account !</h3>
                <b-form @submit.prevent="signUp">
                    <b-alert variant="danger"
                             dismissible
                             :show="alert"
                             @dismissed="showDismissibleAlert=false">
                        {{error}}
                    </b-alert>
                    <b-form-group id="signUpInputGroup2"
                                  label="Username:"
                                  label-for="userName">
                        <b-form-input id="userName"
                                      type="text"
                                      autocomplete="off"
                                      v-model.trim="username"
                                      required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="signUpInputGroup1"
                                  label="Email:"
                                  label-for="loginEmail"
                                  description="We'll never share your email with anyone else.">
                        <b-form-input id="loginEmail"
                                      type="email"
                                      autocomplete="off"
                                      v-model.trim="email"
                                      required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="signUpInputGroup3"
                                  label="Password:"
                                  label-for="loginPword">
                        <b-form-input id="loginPword"
                                      type="password"
                                      autocomplete="off"
                                      v-model="password"
                                      required>
                        </b-form-input>
                    </b-form-group>
                    <button class="btn btn-light" type="submit" :disabled="loading">Sign Up</button>
                </b-form>
                <p>or go back to <router-link to="/login">login</router-link>.</p>
            </div>
        </div>
    </div>
</template>

<script>
  import bForm from 'bootstrap-vue/es/components/form/form';
  import bFormGroup from 'bootstrap-vue/es/components/form-group/form-group';
  import bFormInput from 'bootstrap-vue/es/components/form-input/form-input';

  export default {
    name: 'signUp',
    components: {bForm, bFormGroup, bFormInput},
    data: function() {
      return {
        email: '',
        password: '',
        username: '',
        alert: false
      }
    },
    computed: {
      error () {
        return this.$store.state.error
      },
      loading () {
        return this.$store.state.loading
      }
    },
    methods: {
      async signUp() {
        this.$store.dispatch('userSignUp', {email: this.email, password: this.password, username: this.username});
      }
    },
    watch: {
      error (value) {
        if (value) {
          this.alert = true
        }
      },
      alert (value) {
        if (!value) {
          this.$store.commit('setError', null)
        }
      }
    }
  }
</script>

<style>
    .sign-up {
        color: white;
        min-height: calc(100vh - 59px);

    }

    .sign-up {
        background-image: linear-gradient(180deg, #0c4fc8, transparent),
        linear-gradient(45deg, rgba(220, 220, 220, .08) 40%, transparent 0),
        linear-gradient(45deg, rgba(220, 220, 220, .07) 40%, transparent 0),
        linear-gradient(45deg, transparent 50%, rgba(220, 220, 220, .08) 0),
        linear-gradient(45deg, transparent 50%, rgba(220, 220, 220, .09) 0),
        linear-gradient(0deg, #2569c8, #3538c8);
        background-size: 25%, 45%, 80%, 100%;
    }

    .sign-up p {
        margin-top: 40px;
        font-size: 15px;
    }

    .sign-up p a {
        text-decoration: underline;
        cursor: pointer;
        color: rgb(230, 230, 103);
    }

    #userName {
        background: none;
        color: #ddd;
    }
</style>