<template>
    <div class="card mb-4" >
        <router-link :to="{ name: to, params: {docId: docId}}">
            <h3 class="heading">{{name}}</h3>
        </router-link>
    </div>
</template>

<script>
  export default {
    name: "RecipeItem",
    props: {
      to: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      docId: {
        type: String,
        required: true
      }


    }
  }
</script>

<style scoped>

</style>