<template>
    <div id="app">
        <b-navbar v-bind:style="{ 'background-color': navBarColour }" :sticky="true" toggleable="md" type="dark">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

            <b-navbar-brand href="#"><span class="brand1">brew</span><span class="brand2">hub</span></b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">

                <b-nav class="ml-auto" pills>
                    <!--<b-nav-item to="/home" active-class="pills-active">
                        Home
                    </b-nav-item>
                    <b-nav-item to="/about" active-class="pills-active">
                        About
                    </b-nav-item>-->
                    <b-nav-item v-if="!isAuthenticated" to="/sign-up" active-class="pills-active">
                        Sign up
                    </b-nav-item>
                    <b-nav-item-dropdown v-if="isAuthenticated" right>
                        <!-- Using button-content slot -->
                        <template slot="button-content">
                            {{currentUser && currentUser.username}}
                        </template>
                        <b-dropdown-item href="#">Profile</b-dropdown-item>
                        <b-dropdown-item to="/my-recipes"></b-dropdown-item>
                        <b-dropdown-item href="#" @click="logout">Sign out</b-dropdown-item>
                    </b-nav-item-dropdown>
                    <b-nav-item v-else to="/login" active-class="pills-active">
                        Sign in
                    </b-nav-item>
                </b-nav>

            </b-collapse>
        </b-navbar>
        <div class="container-fluid">
            <router-view />
        </div>
    </div>
</template>

<script>
  import bNavbar from 'bootstrap-vue/es/components/navbar/navbar';
  import bNavItem from 'bootstrap-vue/es/components/nav/nav-item';
  import bNavbarBrand from 'bootstrap-vue/es/components/navbar/navbar-brand';
  import bNavbarToggle from 'bootstrap-vue/es/components/navbar/navbar-toggle';
  import bCollapse from 'bootstrap-vue/es/components/collapse/collapse';
  import bNavItemDropdown from	'bootstrap-vue/es/components/nav/nav-item-dropdown';
  import bDropdownItem from 'bootstrap-vue/es/components/dropdown/dropdown-item';
  import bNav from 'bootstrap-vue/es/components/nav/nav';

  export default {
    components: {
      'b-navbar': bNavbar,
      'b-nav-item': bNavItem,
      'b-navbar-brand': bNavbarBrand,
      'b-navbar-toggle': bNavbarToggle,
      'b-collapse': bCollapse,
      'b-dropdown-item': bDropdownItem,
      'b-nav-item-dropdown': bNavItemDropdown,
      'b-nav': bNav
    },
    data() {
      return {
        authenticated: false,
       /* displayName: null,*/
      }
    },
    methods: {
      logout() {
        this.$store.dispatch('userSignOut');
      }

    },
    computed: {
      navBarColour() {
        let colour;
        switch (this.$route.name) {
          case 'Login':
            colour = '#0c5176';
            break;
          case 'SignUp':
            colour = '#0c4fc8';
            break;
          default:
            colour = 'rgb(56, 112, 142)';
        }
        return colour;
      },
      currentUser() {
        return this.$store.getters.user;
      },
      isAuthenticated() {
        return this.$store.getters.isAuthenticated;
      }
    },
    mounted() {

    }
  }

</script>

<style lang="scss">
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
    @import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

    #app {
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: rgb(102, 102, 102);
    }

    .nav-item a {
        color: white;
    }

    .b-nav-dropdown .dropdown-menu a {
         color: #386f8e;
    }

    .navbar-brand {
        font-family: 'Comfortaa', cursive;
        font-size: 22px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
    }

    .navbar-brand .brand1 {
        margin-right: 6px;
    }

    .navbar-brand .brand2 {
        color: #ddd;
    }

    .pills-active {
        background-color: rgba(250,250,250,0.2) !important;
        color: white !important;
    }
</style>
